@import "../../common/variables.scss";
//--------------------------------------

//------------------------------------vars
$bg: #f0f1f9;
//------------------------------------vars

.wrapper {
  @extend %displayJustify;
  width: 100%;
  height: 100%;
  background: $bg;
}

.content {
  @include adaptive-value("padding", 10, 5, 1440);
  flex: 1 1 auto;
    height: 100%;
}

//----------------------------------------

.navigation {
  height: 100%;
}

.header {
  background: $bg;
  @include adaptive-value("padding-top", 20, 10, 1440);
  @include adaptive-value("padding-bottom", 20, 10, 1440);
  @include adaptive-value("gap", 20, 10, 1440);

  @extend %displayComplect;
  width: 100%;
}

.main {
  @include adaptive-value("padding", 20, 10, 1440);
  background: #fff;
  border-radius: 20px;
  flex: 1 1 auto;
}
